  {% extends "base.html" %} 
{% block css %}
    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }

      #text{
        margin-left:100px;
        margin-right:150px;
        font-size: 16px;
      }
    </style>
{% endblock %}  

{% block content %}  
    <div class="container">
      <div class="page-header" style="margin-bottom: 10px;">
        <h2 style="padding-left:100px">About Us:</h2>
      </div>

      <div>
        <p id="text">
Signl tracks companies’ true momentum. In a world of increasing data, and all the noise that comes with it, Signl is a powerful weapon against the static of PR blasts, cyclicality, and the social media echo chamber. Signl zeroes in on evidence of real traction, and makes it easy to find and track companies just as they begin to blast off.<br><br>
 

In order to accurately assess a company's traction, Signl aggregates evidence of overall company growth—like changes in web traffic, app rank, social buzz, and increased hiring—and calculates a weighted, up-to-date Signl Momentum Score that empirically reflects a company’s changing growth patterns. Signl enables the realistic assessment of companies’ true traction, even in markets that are otherwise difficult to quantify.<br><br>
 
Sorting companies by their up-to-date Momentum Scores, Signl offers insights into industries and competitive landscapes that were formerly impossible to see. Furthermore, Signl gathers data on changes in growth patterns regardless of company size, identifying the smallest, earliest-stage companies taking off, or established companies beginning new periods of rapid growth.<br><br>
 
But Signl’s value only begins with the power of its algorithm and data. Signl offers a clean, customizable interface that lets you monitor the exact industry segments you’re interested in following, filtering by growth rate, micro-industry, region, company maturity, or the level of funding a company has raised. And Signl makes it easy to keep a list of all the companies you want to track, with customizable momentum alerts to keep you up to speed on any changes in a company’s growth or user adoption. Give it a try if you haven’t already.<br><br>



        </p>
      </div>


    </div> <!-- /container -->
{% endblock %}

{% block javascript %}

  <script type="text/javascript"></script>
  </script>

{% endblock %} 
