{% extends "base.html" %} 
{% block css %}

    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
{% endblock %}  

{% block content %}  
    <div class="container">

<table  class="table table-striped">
  <caption><h2>Pending Message</h2></caption>
  <thead>
    <tr>
      <th>message_ID</th>
      <th>Sender</th>
      <th>recipient</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    {% for item in allPending %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.sender.email}}</td>
      <td>
         <div>
         <input id="recipientemail" type="text" placeholder="Type something…" value="{{item.recipient.email}}"></input>
         <button class="btn" style="margin-bottom: 11px;" onClick="save('{{item.recipient.id}}')">Save</button>
        </div> 
      </td>
      <td><button class="btn btn-success" style="margin-bottom: 11px;" onClick="send({{item.id}})">Send</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div> <!-- /container -->

{% endblock %}  

{% block javascript %}
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: b6rpwk5o3k0w
        scope: r_basicprofile r_emailaddress
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
      $('#headTab li:last').addClass("active");
    });

    function save(id){
     var email = $("#recipientemail").val();
     $.post('/accounts/msgAdminSaveEmail/',{'id':id,'email':email},function(data){
        response = jQuery.parseJSON(data);
        if(response.success)
        {
          $.pnotify({
              title: 'Success',
              text: "Save email successful.",
              delay: 2000,
              hide: true
          });
        }
        else{
          $.pnotify({
              title: 'error',
              text: response.msg,
              delay: 2000,
              hide: true
          });
        }
     });
    }//end function save


    function send(id){
     var email = $("#recipientemail").val();
     $.post('/accounts/msgAdminSendEmail/',{'id':id},function(data){
        response = jQuery.parseJSON(data);
        if(response.success)
        {
          $.pnotify({
              title: 'Success',
              text: "Send email successful",
              delay: 10,
              hide: true
          });
          setTimeout(function(){window.location.reload();}, 1000)
        }
        else{
          $.pnotify({
              title: 'error',
              text: response.msg,
              delay: 2000,
              hide: true
          });

        }
     });
    }//end function save



    </script>


{% endblock %} 
