  {% extends "base.html" %} 
{% block css %}
    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }

      #text{
        margin-left:100px;
        margin-right:150px;
        font-size: 16px;
      }
    </style>
{% endblock %}  

{% block content %}  
    <div class="container">
      <div class="page-header" style="margin-bottom: 10px;">
        <h2 style="padding-left:100px">Privacy Policy:</h2>
      </div>

      <div>
        <p id="text">
APP UPRISING INC. / Signl<br>
PRIVACY POLICY<br><br>

At Signl / App Uprising, we take privacy very seriously. We hate spam. And we despise unauthorized sharing of personal information. We will never share your information with anyone who sends unauthorized emails or solicitations, or anyone who doesn’t keep your information safe. (Please see Section 3: Sharing your Information below for a full explanation of when we DO share your information.)
This Privacy Policy will help you understand what types of information we collect, how we use that information, and when we share that information with third parties. By providing information to us, you agree with the terms and conditions of this privacy policy.<br><br>

1.  Definitions.<br><br>
1.1 We, our, and us means App Uprising Inc., “App Uprising”, or “Signl”, which operates the website and services at http://www.signl.com and related URLs.<br>
1.2 You and your means any individual who visits our website, uses our services, or provides us with personal information.<br>
1.3 Personal Information means personally identifying information about you that we collect. In addition to other types of information, this may include your name in conjunction with your mailing address, city, state, zip code, e-mail address, or how you use our service.<br>
1.4 Subcontractors means a third party that we have retained to provide certain services. <br>Subcontractors do not have the right to use the Personal Information that we collect beyond what is necessary to assist us. Subcontractors are contractually obligated to maintain the confidentiality and security of the Personal Information that we collect and are restricted from using such information in any way not expressly authorized by us.<br>
1.5 Opt-out means a choice that you can make to prevent the sharing or use of some, or all, of your Personal Information. Your ability to opt-out is explained in greater detail below.<br>
1.6 Privacy Policy means this document.<br>
1.7 Third Party means an entity that is not owned or controlled by us.<br>
1.8 Computer means any electronic device designed to accept and transmit data. This includes, for instance, a personal computer, a laptop, a netbook, a cell phone, a tablet, or any other similar device.<br><br>
2.  Collection of Information.  <br><br>
2.1 Our General Purpose for Collecting Information. We collect Personal Information from you, and about you, in order to provide you with news and information about our company, and the products and services that we sell.  We may also collect information to enhance your online experience and our services.<br>
2.2 The Sources from Which We Collect Information.  <br>
2.2.1 Automatic Collection When you visit Signl.com we may store information about your web sessions and assign you one or more ‘cookies’. Your browser will store these cookies on your computer in a small text file. For example, when you decide to login as a Signl member, we store encrypted information in your browser so you don’t have to login on every page.
Permanent cookie files may remain on your computer’s hard drive until you delete them manually using your browser or operating system software. You can enable your browser to refuse cookies, but doing so may disable access to some services and tools that we offer.<br>
2.2.2 Non-Automatic Collection. We may collect Personal Information by asking you to fill out a form online that asks for Personal Information. We may also collect information by asking you to provide information to us by e-mail, phone, or mail.<br>
2.3 Collection of Information from Children. We do not seek information from children. If you are under 18 you should not provide us with any personal information. If we learn that we have collected personal information from a child under age 18, we will delete that information as quickly as possible.<br><br>
3.  Use of Information.  <br><br>
3.1 To Track Usage. We may track how you use our site. In addition, we may aggregate the Personal Information that you provide with the Personal Information that other users provide in order to conduct research, analysis, or studies for our own purposes (i.e., not related to providing you with specific products or services).  <br>
3.2 To Provide Marketing Information. We collect Personal Information in order to provide you with news and information about App Uprising Inc. / Signl, or about our products and services.    
3.3 Your Ability to Opt-Out from Receiving Materials from App Uprising.. At any time you may choose to opt-out from receiving marketing materials from us. You can click on an “opt-out” link provided at the bottom of every commercial e-mail that you receive from us. Alternatively, you can send an email to info@signl.com with a request to opt-out from receiving marketing materials from us.<br><br>
4.  Sharing your Information.<br><br>
4.1 Generally. We do not rent, sell, or share Personal Information about you with other people except in the situations described below.<br>
4.2 Sharing Your Information with Subcontractors. From time to time we may share Personal Information with subcontractors that provide us with services. These services may include, among other things, the creation or maintenance of our databases, research and analysis concerning the people who request information from us, and the type of information that they request, or the processing of payment information.<br>
4.3 Sharing Your Information with Law Enforcement. We may report to law enforcement agencies any activities that we reasonably believe to be unlawful, or that we reasonably believe may aid a law enforcement investigation into unlawful activity. In addition, we reserve the right to release your information to law enforcement agencies if we determine, in our sole judgment, that either you have violated our policies, or the release of your information may protect the rights, property or safety of App Uprising, you, or another person.  <br>
4.4 Sharing Your Information as Permitted by Law. We may share your Personal Information with others as required by, or permitted by, law. This may include sharing your Personal Information with governmental entities, or third parties in response to subpoenas, court orders, other legal process, or as we believe is necessary to exercise our legal rights, to defend against legal claims that have been brought against us, or to defend against possible legal claims that we determine in our sole discretion might be brought against us.<br>
4.5 Transfers. In the event that App Uprising, or substantially all of App Uprising’s assets, are acquired, your Personal Information will be transferred to the acquiring company. In such a situation, you will be provided with notice that a transfer of your Personal Information is imminent, and you will be given an opportunity to opt-out of the transfer of your Personal Information. <br><br>
5.  Removal of Your Information. Once you have provided Personal Information to us, we may store and maintain that information for so long as you have not directed us to do otherwise.  If you wish us to cease storing your Personal Information you may request that we do so by emailing us at the following email address: info@signl.com.<br><br>
6.  Security of Your Information. We have instituted reasonable measures to ensure that your Personal Information is secure and that it is not disclosed to individuals or entities that are not described in this privacy policy. While we are focused on the security of your Personal Information and follow reasonable procedures designed to protect your Personal Information, we cannot promise, and you should not expect, that your Personal Information will remain secure in all circumstances.<br><br>
7.  Notifications. In the event that we are required to provide you notice of an event or incident involving your Personal Information, we will provide that notice by e-mail, writing, or phone at our sole discretion.<br><br>
8.  Other Websites. Our website, or our e-mails, may link to third parties’ websites. It is also possible that third parties’ websites or e-mails may link to our website. We are not responsible for the content or the privacy practices employed by third parties. We encourage you to read the privacy policies of these websites before transmitting any Personal Information to Third Parties.<br><br>
9.  Changes to the Privacy Policy. We reserve the right to modify this privacy policy at any time by posting the revised terms on our website. Please check our privacy policy often, as your use of our website or services after we modify this privacy policy indicates your acceptance of any changes. <br><br>
10. Questions or Comments.  If you have any questions or comments concerning this Privacy Policy, please contact us at the following email address: info@signl.com.<br><br>

Last revised on March 8, 2013.
        </p>
      </div>
    </div> <!-- /container -->
{% endblock %}

{% block javascript %}

  <script type="text/javascript"></script>
  </script>

{% endblock %} 
