{% extends "base.html" %} 
{% block css %}

    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    </style>
{% endblock %}  

{% block content %}  
    <div class="container">
      <div class="row">
      <h1>404</h1><h1>OOPS! PAGE NOT FOUND</h1>
      </div>
      
      
    </div> <!-- /container -->

{% endblock %}  

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function() {
      //$('#headTab li:last').addClass("active");
    });
    </script>

{% endblock %} 
