<div id="accessModal" class="modal hide" tabindex="-1" data-width="500" data-height="150">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sorry, you need to upgrade to use this feature.</h3>
  </div>
  <div class="modal-body">
    <h5>But you really should!</h5>
    <h5>Why? Because BlastOff will give you a competitive edge. You'll be able to see the momentum for all companies in your industry.  Plus, you'll have access to all of our paid features.</h5>
    <h5>Check it out!</h5>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <a class="btn btn-warning" href="/accounts/payment/">Upgrade</a>
  </div>
</div>
