<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner headerBackground" style="background: #f7f7f7;border-bottom: 1px solid #EAEAEA;">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="/" class="brand">Signl <span style="font-size: 19px;">Beta</span></a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        {% if user.is_authenticated %}
        <ul class="nav pull-left">
          <li id="msgHeadTab" ><a class="headTabLink" href="/message/inbox/"><img src="{{ STATIC_URL }}img/mailbox.png" style="width: 30px;"style="width: 30px;"></img>{% if postman_unread_count %} <strong>({{ postman_unread_count }})</strong>{% endif %}</a></li>
        </ul>
        {% endif %}

        {% if not isSearchPage %}



          <div class="input-append" style="margin-top: 18px;">
            <input id="topSearch" type="text" class="search-query span3" placeholder="Search Company/Industry">
          </div>          
          <button type="submit" class="btn">
            <i class="fui-search"></i>
          </button>

        {%endif%}

        <ul class="nav pull-right">
          {% if user.is_authenticated %}
            {% if user.tag.exists %}
            <li id="homeTab"><a href="/industry/{{user.tag.all.0.slug}}/">Industry</a></li>
            {% endif %}
            <li id="trackerHeadTab"><a href="/accounts/tracker/">Following</a></li>
            {% if user.tier < 3 %}
            <li role="presentation"><a href="/accounts/payment">Upgrade</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                More <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li id="contactTab"><a href="/contactUs/">Contact</a></li>
                <li id="aboutTab" ><a href="/aboutUs/">About Us</a></li>
                <li class="divider"></li>
                <li><a href="/blog/">Blog</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="width: 31px; height: 20px;" >
              
                {% if user.linkedinId %}
                <div style="width: 44px; height: 31px;margin-top: -5px;">
                  <img style="width: 30px; height: 30px;" src="{{ user.icon }}"></img>
                <b class="caret"></b></div>

                {% else %}
                <div style="width: 52px; height: 31px; margin-top: -5px;">
                  <img style="width: 30px; height: 30px;" src="{{ STATIC_URL }}img/profileIcon.jpg"></img>
                <b class="caret pull-right" style="margin-top: 12px;"></b></div>
                {% endif %}

              </a>
              <ul class="dropdown-menu" >
              <li role="presentation"><a href="/accounts/setting/" tabindex="-1" role="menuitem">Settings</a></li>
              <li class="divider" role="presentation"></li>
              <li role="presentation"><a href="/accounts/logout/" tabindex="-1" role="menuitem">Logout</a></li>
              </ul>
            </li>

          {% else %}
          <li id="contactTab"><a href="/contactUs">Contact</a></li>
          <li id="aboutTab" ><a href="/aboutUs">About Us</a></li>
          <li><a href="/accounts/register/{% if token %}?token={{token}}{% endif %}">Register</a></li>
          <li><a href="/accounts/login/{% if token %}?token={{token}}{% endif %}">Login</a></li>
          {% endif %}
        </ul> <!-- /nav -->


      </div><!--/.nav-collapse -->
    </div>
  </div>
</div> <!-- /navbar -->