<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Signl <span style="font-size: 19px;">Beta</span></a>
      <div class="nav-collapse">
        {% if user.is_authenticated %}
        <ul class="nav pull-left">
          <li id="msgHeadTab" ><a class="headTabLink" href="/message/inbox/"><img src="{{ STATIC_URL }}img/mailbox.png" style="width: 30px;"style="width: 30px;"></img>{% if postman_unread_count %} <strong>({{ postman_unread_count }})</strong>{% endif %}</a></li>
        </ul>
        {% endif %}>

        {% if not isSearchPage %}

          <div class="navbar-search pull-left">
              <div>
                  <input id="topSearch" type="text"  placeholder="Search..." />
   
                  <button  onClick="search()" class='btn add-on'>
                      <i class="icon-search"></i>
                  </button>
              </div>
          </div>
            {%endif%}
    


            <ul class="nav pull-right" >
          {% if user.is_authenticated %}
            <li>
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" style="width: 31px; height: 20px;" >
              
              {% if user.linkedinId %}
              <div style="width: 44px; height: 31px;margin-top: -5px;">
                <img style="width: 30px; height: 30px;" src="{{ user.icon }}"></img>
              <b class="caret"></b></div>

              {% else %}
              <div style="width: 44px; height: 31px;margin-top: -5px;"><img style="width: 30px; height: 30px;" src="{{ STATIC_URL }}img/profileIcon.jpg"></img>
              <b class="caret"></b></div>
              {% endif %}

            </a>
              <ul class="dropdown-menu">
              <li role="presentation"><a href="/accounts/setting/" tabindex="-1" role="menuitem">Settings</a></li>
              <li class="divider" role="presentation"></li>
              <li role="presentation"><a href="/accounts/logout/" tabindex="-1" role="menuitem">Logout</a></li>
              </ul>
            </li>

          {% else %}
          <li><a href="/accounts/register/{% if token %}?token={{token}}{% endif %}">Register</a></li>
          <li><a href="/accounts/login/{% if token %}?token={{token}}{% endif %}">Login</a></li>
          {% endif %}
          </ul>

        <ul class="nav pull-right" id="headTab">
          {% if user.is_authenticated %}

          {% if user.tag.exists %}<li id="homeTab"><a href="/industry/{{user.tag.all.0.slug}}/">Ranking</a></li>{% endif %}
          
          <li id="trackerHeadTab"><a href="/accounts/tracker/">Tracker</a></li>
          
            {% if user.tier <  3 %}
            <li role="presentation"><a href="/accounts/payment">Upgrade</a></li>
            {% endif %}

          <li>
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">More<b style="margin-left: 3px;" class="caret"></b></a>
              <ul class="dropdown-menu" >
                 <li id="contactTab"><a href="/contactUs">Contact</a></li>
                 <li id="aboutTab" ><a href="/aboutUs">About Us</a></li>
              </ul>
          </li>
          {%else%}
          <li id="contactTab"><a href="/contactUs">Contact</a></li>
          <li id="aboutTab" ><a href="/aboutUs">About Us</a></li>
          {% endif %}
      

          </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


