{% extends "base.html" %} 
{% block css %}
    <style>
      body {
        padding-top: 78px; /* Only include this for the fixed top bar */
      }

      .searchHead {
        background: #f1f1f1;
        background: -webkit-gradient(radial,100 36,0,100 -40,120,from(#fafafa),to(#f1f1f1)),#f1f1f1;
        border-bottom: 1px solid #666;
        border-color: #e5e5e5;
        height: 55px;

      }
      #searchBox{
        margin-top: 7px;
        min-width:400px;
        height: 21px;

      }
      .typeTagWord{

        margin-top: 3px; 
        margin-bottom: 3px;
      }
    </style>
{% endblock %}  

{% block content %}  
  <div class="row searchHead">
    <div class="span1">
      <h3 style="margin-top: 8px;margin-left: 15px;">Search</h3>
    </div> 
    <div class="span5">
      <form class="form-search">
        <input id="searchBox" type="text" class="input-medium" style="">
      </form>
    </div>
    <div class="span3">
      <button class="btn btn-success"  style="margin-top: 7px;" onClick = "searchNow()"  >Search</button>
    </div>  
  </div>

   
  <div class="results"  style="margin-left: 130px;">
  <p style="color:gray;">About {{results.count}} results</p>
  <table>
    <tbody>

      {% for item in results %}

      {% if item.object.tagType == 'Location' or item.object.tagType == 'Industry' %}
      <tr value="{{item.object.tagType}}">
        <td>
           <a class="tagLink" id="{{item.object.id}}" ><h3 style="margin-bottom: 0px;">{{item.object.tagName}}</h3></a>
           <p>{{item.object.tagType}}</p>
        </td>
      </tr>
      {% else %}
      <tr value="{{item.object.tagType}}">
        <td>
           <a class="companyLink" id="{{item.object.slug}}" ><h3 style="margin-bottom: 0px;">{{item.object.name}}</h3></a>
           <p>{{item.object.website}}</p>
        </td>
      </tr>
      {%endif%}


      {% endfor %}






    </tbody>
  </table>
  </div>
{% endblock %}  

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
    <script>
    

    $(document).ready(function() {
     $("#searchBox").val("{{text}}");

     {% if type == "2" %}
       $('#typeTab li:eq(1) a').tab('show');
     {% endif %}

     $('#headTab li:first').addClass("active");

    });


    $('.form-search').keypress(function(e){
        if ( e.which == 13 )
        { 
          e.preventDefault();
          searchNow();
          return false;
        }
    });

    $('#tagSelect').change(function() 
    {
       alert('Value change to ' + $(this).attr('value'));
    });

    $('#typeTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('.tagLink').click(function (e) {
      var tagName = $(this).find("h3").text();
      window.location = "/searchTag/?tagName="+tagName;
    });

    $('.companyLink').click(function (e) {
      var slug = $(this).attr("id");
      window.location = "/company/"+slug;
    });


    function searchNow()
    {
       var searchText = $("#searchBox").val();
       if( searchText.length == 0)
       {
          return;
       }

       window.location = "/search/?text="+searchText;
    }
    </script>

{% endblock %} 
