{% extends "base.html" %} 
{% block css %}
<style>
body {
  background: url("http://newsle.com/static/crosshatchbg2.png") repeat-x fixed 0 0 #E0E1E3;
  padding-top: 120px; /* Only include this for the fixed top bar */
}

.heading {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 18px;
    padding-bottom: 5px;
}

.feed_headline{
  font-size: 20.5px
}
.row-fluid div[class*="span"] {
    min-height: 1px;
}

.search_page .search_item {
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 20px 10px 30px;
    position: relative;
}
.search_page .search_content {
    padding-left: 110px;
}
.sepV_a {
    margin-right: 5px;
}
a, button, input {
    outline: medium none !important;
}
.sepH_a {
    margin-bottom: 5px;
}

.sepH_b {
    margin-bottom: 10px;
}

.tracking-head{
  background-color: #eee;
  text-align:center;
  height: 40px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;

}
.feed-company-icon
{

height: 90px;
width: 90px;
border: none;

}
</style>
{% endblock %}  

{% block content %} 

{% load feed_tip %}
<div class="container" style="max-width: 1000px;margin: 0 auto;padding-top: 0px;">
  <div class="row-fluid">  
    <div class="span8" style="width: 650px;">


      {% for item in dataFeed %}
      {% if item.type  %}
        <div class="row-fluid dataFeed" style="background:white;border: 2px solid #D4D4D4;padding: 15px 0px 2px;margin-top:10px;">
        <div class="span2" style="margin-left: 10px;">
          <a href="#" style="border:0px">
        <img src="{{item.company.thumb}}" class="img-rounded feed-company-icon">
        </a>
        <h5 style="text-align:center;margin-top:5px;">{{item.company.name}}</h5>
        </div>
        <div class="span7">
          <h4 class="feed_headline"><a href="/company/{{item.company.slug}}">{{item.company.name}}</a>'s {{item |dataFeed_title}}</h4>
          {% if item.company not in user.tracker.all %}
          <p><a name="{{item.company.slug}}" class="trackLink">Track {{item.company.name}}</a></p>
          {% endif %}
        </div>
        <div style="margin-left:0px;"class="span3"><img src="/static/img/datafeed/{{item.company.id}}_{{item.type}}_{{item.period}}.png">
        </a>
        </div>
        </div >
      {% endif %}

      {% endfor %}
    </div>

  </div>
</div>



{% include "rmd.html" %}
{% endblock %}  

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
<script>
    $(document).ready(function() {


    });

    function ajax_change_company(){
        var slug = $('#companySearchBox').data('slug');
        var name = $('#companySearchBox').val();

        $('#nameChange').show();
        $('#compNameTitle').html(name);
        $('#compNameTitle').show();
        $('#compNameTitleArea').show();
        $('#companySearchBox').hide();
        $('#feedAddCompanyArea').hide();

        $.post('/accounts/ajax/changeCompany/',
        {'slug': slug,
         'name': name,
         'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Changed company successfully.',
                    delay: 2000,
                    hide: true
                });
          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });

    }

    function ajax_change_industry(){
        var name = $('#industrySearchBox').data('tagname');
        $('#indChange').show();
        $('#indNameTitle').html(name);
        $('#indNameTitle').show();
        $('#indNameTitleArea').show();
        $('#industrySearchBox').hide();
        $('#feedAddIndustryArea').hide();

        $.post('/accounts/ajax/changeIndustry/',
        {'name': name,
         'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Changed industry successfully.',
                    delay: 2000,
                    hide: true
                });

          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });

    }

    $('#modalSaveCompany').click(function(e){ 
      var slug = $('#modalCompanySearch').data('slug');
      if(slug == "" || slug == undefined)
      {
        var name = $('#modalCompanySearch').val();
      }
      $.post('/accounts/ajax/changeCompany/',
        {
          'slug': slug,
          'name': name,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Changed company successfully.',
                    delay: 2000,
                    hide: true
                });
                $('#feedAddCompany').modal('hide');
                window.location.reload();

          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });
    });       

    $('#modalSaveIndustry').click(function(e){ 
      var tagName = $('#modalIndustrySearch').data('tagname');
      if(tagName == "" || tagName == undefined) return;
      $.post('/accounts/ajax/changeIndustry/',
        {'name': tagName,
         'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Changed industry successfully.',
                    delay: 2000,
                    hide: true
                });
                $('#feedAddIndustry').modal('hide');
                window.location.reload();

          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });
    });  

    $('#modalSaveIndustry').click(function(e){ 


    });

    $('#nameChange').click(function(e){ 
      $(this).hide();
      $('#compNameTitle').hide();
      $('#companySearchBox').show();
    });
    
    $('#indChange').click(function(e){ 
      $(this).hide();
      $('#indNameTitle').hide();
      $('#industrySearchBox').show();
    });

    
    $('#companySearchBox').keypress(function(e) {
       if(e.which == 13) {
          ajax_change_company();
        }
    });



    $('.companySearch').autocomplete({
        serviceUrl: 'http://www.signl.com/compAuto/',
        minChars: 2,
        onSelect: function (suggestion) {
            $('.companySearch').data('slug',suggestion.data);
            ajax_change_company();
        }
    });

    $('#industrySearchBox').keypress(function(e) {
       if(e.which == 13) {
          ajax_change_industry();
        }
    });


    $('.industrySearch').autocomplete({
        serviceUrl: 'http://www.signl.com/tagAuto/',
        minChars: 2,
        onSelect: function (suggestion) {
            $('.industrySearch').data('tagname',suggestion.value);
            ajax_change_industry();
        }
    });


    $('#addCompBtn').click(function(e){
      $(this).hide();
      $('#companySearchBox').show();
    });

    $('#addIndBtn').click(function(e){
      $(this).hide();
      $('#industrySearchBox').show();
    });


    $('#feedTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');

      if($(this).text() == "Only News")
      {
        $(".dataFeed").hide();
        $(".newsFeed").show();
      }
      else if ($(this).text() == "Only Data")
      {
        $(".dataFeed").show();
        $(".newsFeed").hide();
      }
      else{
        $(".dataFeed").show();
        $(".newsFeed").show();
      }
    })


   $('.trackBtn').click(function(e){
      var slug = $(this).attr('name');
      var self= this;
      $.post('/accounts/track/',
        {'slug':slug,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Track company successfully.',
                    delay: 2000,
                    hide: true
                });
                $(self).addClass('disabled');
                $(self).attr("disabled", "disabled");
          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });
    }); 

   $('.trackLink').click(function(e){
      var slug = $(this).attr('name');
      var self= this;
      $.post('/accounts/track/',
        {'slug':slug,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
        },function(data){
          response = jQuery.parseJSON(data);
          if(response.success)
          {
                $.pnotify({
                    title: 'Notice',
                    text: 'Track company successfully.',
                    delay: 2000,
                    hide: true
                });
                $('a[name='+slug+']').hide();
          }else
          {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
          }
      });
    }); 



        function updateInterests(){
        mixpanel.track("feed recommend continue");
        var boxes = $('input:checkbox:checked');
        //set those box whose not checked to -1
        if(boxes.length == 0)
        {
          $('#selectInterestBox').modal('hide');
          return;
        }
      
        var wantTrack = []; 
        $(boxes).each(function(){
          wantTrack.push($(this).val());
         }); 

        $("#rmdContinue").prop({disabled: true});
        $('.modal-body').mask({spinner: { lines: 10, length: 5, width: 3, radius: 10,shadow: true},
                overlaySize: 100,
                label: "loading"
        });

        $.post('/accounts/recommendTrack/',
          {'wantTrack' : wantTrack.join(","),
           'csrfmiddlewaretoken': '{{ csrf_token }}'
          }, function(data){
              response = jQuery.parseJSON(data);
              if(response.success)
                {
                  $.pnotify({
                        title: 'Notice',
                        text: 'Tracked company successful.',
                        delay: 2000,
                        hide: true
                    });
                  window.location = "/feed/";
              }
              else
              {
                $.pnotify({
                    title: 'Error',
                    text: response.msg,
                    delay: 2000,
                    hide: true
                });
                $('.modal-body').unmask();
                $("#rmdContinue").prop({disabled: false});
              }
          });
      }

</script>
{% endblock %}

