{% load i18n %}
{% autoescape off %}
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#F5F5F1">
    <tbody><tr>
            <td width="10">
                
        
    <img width="10" height="1" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
       
        <tbody><tr>
            <td height="19">
                    

    <img width="1" height="19" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td height="19">     
                   

    <img width="1" height="19" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td height="19">
                    

    <img width="1" height="19" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td height="19">
                    

    <img width="1" height="19" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
        </tr>
        <tr>
            <td width="20"><img width="20" height="1" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block"></td>
            <td width="150" align="left">
                <a target="_blank" style="color:#0192b5;text-decoration:none" href="http://www.blastoff.co">
                <h3 style="margin-bottom:0">BlastOff.co</h3>
                </a>
                
            </td>
            <td align="right" style="font-size:11px"></td>
            <td width="20"><img width="1" height="20" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block"></td>
        </tr>



        <tr>
            <td>
                    

    <img width="1" height="11" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                    

    <img width="1" height="11" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                    

    <img width="1" height="11" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                    

    <img width="1" height="11" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
        </tr>
    </tbody></table>                    </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #eaeaea">
                            
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        
        <tbody><tr height="10">

            <td valign="top" height="10" bgcolor="white" style="border-collapse:collapse;line-height:1px" colspan="3">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">

                </table>
            </td>
        </tr> 
        <tr>
            <td bgcolor="white" colspan="3">
                <table width="616" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td style="border-collapse:collapse">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr height="10">
                                    <td height="10">
                                        

    <img width="1" height="10" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
            <td width="20">
                
        
    <img width="20" height="1" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">        </td>
            <td style="line-height:0px">
                <div>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
            <td width="75" valign="top">
                    <a target="_blank" href="http://www.etsy.com/people/pricinghero1?utm_source=convo&amp;utm_medium=trans_email&amp;utm_campaign=convo_html">
        <img width="75" border="0" style="border-style:solid;border-color:#f5f5f1;display:block;border-width:1px;padding:3px" src="http://www.blastoff.co/static/img/profileIcon.jpg">
        </a>

            </td>
            <td width="20">
                
        
    <img width="20" height="1" border="0" src="http://www.blastoff.co/static/img/email/spacer-trans.gif" style="display:block">        </td>
            <td valign="top" style="line-height:0px">
                    
        
    <div style="font-family:arial,helvetica,sans-serif;color:#333333;font-size:12px;line-height:18px">            
        You have received a message from <a target="_blank" href="" style="color:#0192b5;text-decoration:none">{{ object.sender.first_name }}</a> through BlastOff's messaging system.  Here is your message:<br>
    </div>          

    <img width="1" height="6" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">        
    <div style="font-family:arial,helvetica,sans-serif;color:#333;font-size:12px;line-height:18px">
        <strong>
           {{ object.subject|truncatewords:5 }}..
        </strong>
    </div>        

    <img width="1" height="5" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">        
        
    <div style="font-family:arial,helvetica,sans-serif;color:#333333;font-size:12px;line-height:18px">{{ object.body|truncatewords:5 }}...</div>         

    <img width="1" height="20" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block"><div style="float:left">
        <table cellspacing="0" cellpadding="0" border="0" style="width:250;line-height:9px">
        <tbody><tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" style="line-height:9px;width:250px">
                    <tbody><tr height="10">
                        <td height="10">
                            <img border="0" src="http://www.blastoff.co/static/img/email/top_left.png" style="display:block">
                        </td>
                        <td width="230" height="10">
                            <img width="230" height="10" border="0" src="http://www.blastoff.co/static/img/email/top_center_wide.png" style="display:block">
                        </td>
                        <td height="10">
                            <img border="0" src="http://www.blastoff.co/static/img/email/top_right.png" style="display:block">
                        </td>
                    </tr>
                    <tr height="16">
                        <td>
                            <img width="10" height="100%" border="0" src="http://www.blastoff.co/static/img/email/center_left.png" style="display:block">
                        </td>
                        <td style="line-height:16px;font-size:14px;color:white;text-align:center;font-family:arial;font-weight:bold;background-color:#4db2cb">
                            <a target="_blank" href="{{url}}" style="line-height:16px;font-size:14px;color:white;font-family:arial;font-weight:bold;text-decoration:none">
                                Reply Message
                            </a>
                        </td>
                        <td>
                            <img width="10" height="100%" border="0" src="http://www.blastoff.co/static/img/email/center_right.png" style="display:block">
                        </td>
                    </tr>
                    <tr height="10">
                        <td height="10">
                            <img border="0" src="http://www.blastoff.co/static/img/email/bottom_left.png" style="display:block">
                        </td>
                        <td width="230" height="10">
                            <img width="230" height="10" border="0" src="http://www.blastoff.co/static/img/email/bottom_center_wide.png" style="display:block">
                        </td>
                        <td height="10">
                            <img border="0" src="http://www.blastoff.co/static/img/email/bottom_right.png" style="display:block">
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>
    </div>
    <div style="float:left;width:20px">
        
        
    <img width="20" height="1" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block"></div>
    <div style="float:left">
            
    <div style="font-family:arial,helvetica,sans-serif;color:#999999;font-size:11px;line-height:14px;width:200px">
                
                Do not reply to this email. To reply to this message,
                <a target="_blank" style="color:#0192b5;text-decoration:none" href="{{url}}">
                    view the message here.
                </a>
            
        
    </div>
    </div>
            </td>
        </tr>
    </tbody></table></div>
            </td>
            <td width="20">
                
        
    <img width="20" height="1" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">        </td>
        </tr>
    </tbody></table>
                                    </td>
                                </tr>
                                                                <tr height="10">
                                        <td height="10">
                                            

    <img width="1" height="10" border="0" src="http://www.blastoff.co/static/img/email/spacer.gif" style="display:block">                                    </td>
                                    </tr>
                                                        </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
                 
                <td valign="bottom" height="10" bgcolor="white" colspan="3">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      
                    </table>
                </td>
     
                </tr>
    </tbody></table>                    </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody><tr>
            <td>
                    

    <img width="1" height="12" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                    

    <img width="1" height="12" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
        </tr>
        <tr>
            <td width="15">
                
        
    <img width="15" height="1" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td align="left">
                    
    <div style="font-family:arial,helvetica,sans-serif;color:#999999;font-size:11px;line-height:15px;text-align:left">
                &copy; 2013 <span class="il">Blastoff</span> 20 Jay St, New York City, NY, US
    </div>        </td>
        </tr>
        <tr>
            <td>
                    

    <img width="1" height="22" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
            <td>
                    

    <img width="1" height="22" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
        </tr>
    </tbody></table>                    </td>
                    </tr>
                </tbody></table>
            </td>
            <td width="10">
                
        
    <img width="10" height="1" border="0" src="http://www.blastoff.co/static/img/email/email_spacer.gif" style="display:block">        </td>
        </tr>
    </tbody>
</table>
{% endautoescape %}